html, body {
    height: 100%;
}

.splash-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 10%; left: 0; bottom: 0; right: 0;
    text-align: center;
}

.splash-head {
    /* padding: 1em 1.6em; */
}

.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

